* {
    padding: 0;
    margin: 0;
    --red: #BD4249;
    --dark-brown: #603D21;
    --cream: #F8EEE2;
    --tan: #C1A37F;
    --grey: #E6E6E4;
    /* outline: 2px solid blue; */
}

/* recipe page */
.recipe-body {
    background-color: var(--grey);
}

.recipe-nav {
    display: flex;
    justify-content: flex-end;
    margin-right: 2%;
}

.recipe-nav ul {
    display: flex;
    list-style-type: none;
    gap: 1rem;
    font-size: 1.1rem;
    padding: 1rem;
}
.recipe-nav ul li:hover {
    color: var(--red);
    text-decoration: underline;
}


.book-container {
    width: 80%;
    max-width: 1000px;
    height: 500px;
    background-color: var(--tan);
    border: 3px solid var(--dark-brown);
    padding: 2rem;
    margin: 20px auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.book-pages {
    width: 45%;
    background: linear-gradient(to bottom, #fff 0%, #f8f8f8 100%);
    box-shadow: inset 0 2px 8px rgba(0, 0, 0, 0.2);
    padding: 1.5rem 1rem;
    border: 2px solid black;
    height: 90%;
    overflow-x: hidden;
    overflow-y: auto;
    scroll-behavior: smooth;
}

.vertical-line {
    width: 2px;
    background-color: var(--dark-brown);
    height: 100%;
    margin: 0 10px;
}
.title-container {
    background-color: var(--red);
    color: #ffffff;
    border-radius: 10px;
    padding: .5rem;
    width: 210px;
    margin-bottom: 2%;
}

.image-container {
    width: 100%;
    display: flex;
    justify-content: end;
    margin-bottom: 4%;
}

.ingredients-list, ol {
     padding-left: 1.5rem;
    line-height: 1.6;
}

.left-page::-webkit-scrollbar,
.right-page::-webkit-scrollbar {
    width: 10px;
}
.left-page::-webkit-scrollbar-thumb,
.right-page::-webkit-scrollbar-thumb {
    background-color: rgba(96, 61, 33, 0.8);
}
.left-page::-webkit-scrollbar-track,
.right-page::-webkit-scrollbar-track {
    background-color: var(--tan);
}

/* right side*/
.right-page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.step-number {
    background-color: var(--red);
    color: #ffffff;
    width: 20px;
    padding: 10px;
    text-align: center;
    border-radius: 50%;
}
.left-step {
    display: flex;
    justify-content: flex-end;
}

.buttons-container {
    display: flex;
    justify-content: space-between;
    margin: 2% 15%;
}
button {
    background-color: var(--red);
    color: #ffffff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}